table
{
    border-collapse: collapse; 
}
td
{
    border: 1px solid #A5A7AA;
    width: 120px;
    height: auto;
    text-align: center;

}
th
{
    border: 1px solid #A5A7AA;
    width: 120px;
    height: auto;
    text-align: center;
}
.head{
    background-color: #D1D6DA;
}
.light{
    background-color: #F3F6F9;


}
.grey{
    background-color:#E0E5EA ;

}
caption{
    padding: 5px;
}